/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}
/* added specialCol class to target col-1 and col-2 for when resizing happens, could not figure out how to resize some 
of col-1/col-2 without affecting the others */

[class*="specialCol-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
}

.specialCol-1 {                   /* added specialCol-1 to target col-1 when resizing happens  */
	background-color: #A3CDD9;
}

.col-2 {
	background-color: #FFFCE6;
}

.specialCol-2 {                  /* added specialCol-2 to target col-2 to when resizing happens  */
	background-color: #FFFCE6;
}

.col-3 {
	background-color:aqua;
}

.col-4 {
	background-color:coral;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	
  .col-1 {
		flex: 0 0 44%;
	}

  .specialCol-1 {
		flex: 0 0 92%
  }
   
  
	.col-2 {
		flex: 0 0 44%;
		/
	}

	.specialCol-2 {
		flex: 0 0 92%;
	order: -1;    /* change order to 2-1-1*/
	}
	   


	.col-3 {
		flex: 0 0 92%;
	}

	.col-4 {
		flex: 0 0 92%;
	}
  
  



}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
  
 	.col-1 {
		flex: 0 0 20%;
	}

  	.specialCol-1 {
		flex: 0 0 20%;
	}
  
  
	.col-2 {
		flex: 0 0 44%;
		order: 0;     /* reset order to 1-2-1 */
	}

	.specialCol-2 {
		flex: 0 0 44%;
		order: 0;
	}

	.col-3 {
		flex: 0 0 68%;
	}

	.col-4 {
		flex: 0 0 92%;
	}

}