.wrapper {
	font-family: Arial, sans-serif;
	display: grid;
	gap: 10px;

	justify-items: center;

	

}
.wrapper>*{
	padding: 1em;
	border-radius: 1em;
}
div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */


/* Creates a 3-column grid  that places images 1 & 2 in top left/right
   image 3 in the center column
   images 4 & 5 in bottom left/right*/
.diamond-one-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;

  width: fit-content; /* shrinks width so grid is only as wide as diamond */
  margin: 40px auto; /* centers the container */
  
}

/* Style the images inside the container */
.diamond-one-row img {
  width: 100%;
  max-width: 200px;
  padding: 1em;
  border-radius: 1em;
  background-color: aquamarine;
  
}

/*top image*/
.diamond-one-row img:nth-child(1) {
  	grid-row: 1;
  	grid-column: 3;/*center*/
}

/*left middle image*/
.diamond-one-row img:nth-child(2) {
  	grid-row: 2;
  	grid-column: 2;
}

/*center middle image*/
.diamond-one-row img:nth-child(3) {  
	grid-row: 2;
  	grid-column: 3;
}
    
/*right middle image*/
.diamond-one-row img:nth-child(4) {
  	grid-row: 2;
  	grid-column: 4;
}

/*bottom image*/
.diamond-one-row img:nth-child(5) {
  	grid-row: 3;
  	grid-column: 3;
}

/* Mobile fallback */
@media (max-width: 600px) {
  .diamond-one-row {
    grid-template-columns: 1fr; /* single column layout */
  }

  .diamond-one-row img:nth-child(n) {
    grid-row: auto;
    grid-column: 1;
  }
}


.metroidvania {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.jrpg {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}



.multiplayer {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
/* Add background colors to see how much space each column is taking */

.metroidvania{
	background-color: #A3CDD9;
}


.jrpg {
	background-color: #FFFCE6;
}


.multiplayer {
	background-color:aqua;
}

.open-world {
	background-color:coral;
}

.souls-like {
	background-color:lightgreen;
}

/*mobile default, makes the items stack*/
.metroidvania,
.jrpg,
.multiplayer,
.open-world,
.souls-like {
	grid-column: auto;
	grid-row: auto;
}

/* Tablet Landscape Screen Sizes */
@media (min-width: 650px)  {
	
	
  .metroidvania {
		grid-column: 1 /2;
		grid-row: 1 / 2;
	}   
  
	.jrpg {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		
	}


	.multiplayer {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.open-world {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.souls-like {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
	}
  
  



}
/* Desktop screen Sizes */
@media (min-width: 1000px) {
	
  
  
 	.metroidvania {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		
	}
  
	.jrpg {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}


	.multiplayer {
		grid-column: 2 / 3;
		grid-row: 1 / 2 ;
	}

	.open-world {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	.souls-like {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	
}